.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 20px;

    h2{
        color: hsla(0,0%,100%,.7);
    }
    
    .block-title{
        color: white;
        margin-bottom: 50px;
        margin-top: 50px;    
    }

    mat-grid-list{
        width: 80%;
        padding-bottom: calc(1 * ((40% - 0.666667px) * 1) + 0px + 0px) !important;
        app-photo{
            display: flex;
            justify-content: center;
        }
    }

}